/* Global Tweaks */

img#site-logo.logo-small {
    border-radius: 50%;
    background-color: #000;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(130,130,130,1);
    -moz-box-shadow: 0px 1px 10px 0px rgba(130,130,130,1);
    box-shadow: 0px 1px 10px 0px rgba(130,130,130,1);
}
.d-modal.create-account .login-welcome-header {
  padding: 1em;
}
.d-modal.create-account .login-welcome-header {
  padding: 2em 1em .5em 2em;
}

/*Sidebar Theme Toggle */
.sidebar-theme-toggle-dropdown.select-kit.combo-box .select-kit-header .select-kit-header-wrapper {
    margin-left: -1em;
    width: max-content;
}
.sidebar-theme-toggle-dropdown.select-kit.combo-box .select-kit-header {
    padding-left: 2.8em;
}
.sidebar-theme-toggle__wrapper {
    padding-right: 0.2em;
}
.sidebar-theme-toggle__wrapper>.d-icon {
    left: 0.5em;
}
.sidebar-theme-toggle-dropdown {
    outline: 2px solid #32CD32;
}

/* Move Topic Edit to Top Right Corner Fixed */
#post_1 nav.post-controls .actions button.edit {
    position: fixed;
    top: 80px;
    right: 0;
    background: rgba(0,0,0,0) !important;
    box-shadow: none;
    padding: 30px 10px 30px 20px;
    margin: 0 0 0 0;
}
#post_1 nav.post-controls .actions button.edit .svg-icon {
    height: 2em;
    width: 2em;
    fill: rgba(0,154,73,.3098039216);
    transform: rotate(-0.125turn);
    filter: none;
}