/* Global Tweaks */

img#site-logo.logo-small {
    border-radius: 50% !important;
    background-color: #000 !important;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(130,130,130,1) !important;
    -moz-box-shadow: 0px 1px 10px 0px rgba(130,130,130,1) !important;
    box-shadow: 0px 1px 10px 0px rgba(130,130,130,1) !important;
}
.d-modal.create-account .login-welcome-header {
  padding: 1em !important;
}
.d-modal.create-account .login-welcome-header {
  padding: 2em 1em .5em 2em !important;
}

/*Sidebar Theme Toggle */
.sidebar-theme-toggle-dropdown.select-kit.combo-box .select-kit-header .select-kit-header-wrapper {
    margin-left: -1em !important;
    width: max-content !important;
}
.sidebar-theme-toggle-dropdown.select-kit.combo-box .select-kit-header {
    padding-left: 2.8em !important;
}
.sidebar-theme-toggle__wrapper {
    padding-right: 0.2em !important;
}
.sidebar-theme-toggle__wrapper>.d-icon {
    left: 0.5em !important;
}
.sidebar-theme-toggle-dropdown {
    outline: 2px solid #32CD32 !important;
}

/* Move Topic Edit to Top Right Corner Fixed */
#post_1 nav.post-controls .actions button.edit {
    position: fixed !important;
    top: 80px !important;
    right: 0 !important;
    background: rgba(0,0,0,0) !important;
    box-shadow: none !important;
    padding: 30px 10px 30px 20px !important;
    margin: 0 0 0 0 !important;
}
#post_1 nav.post-controls .actions button.edit .svg-icon {
    height: 2em !important;
    width: 2em !important;
    fill: rgba(0,154,73,.3098039216) !important;
    transform: rotate(-0.125turn) !important;
    filter: none !important;
}

/* Inline Footnotes - Replace ellipsis with numbers */
.cooked.inline-footnotes {
  counter-reset: foot-note;
}

.inline-footnotes a.expand-footnote {
  text-decoration: none !important;
  font-size: 0.77em;
  vertical-align: super;
  min-height: unset;
  border: 1px solid var(--primary-medium);
  padding: 0 0.4em;
  vertical-align: super;
}

.inline-footnotes a.expand-footnote:before {
    counter-increment: foot-note;
    content: counter(foot-note);
}

.inline-footnotes a.expand-footnote svg {
  display: none;
}

/* everything below is some extra customization */

#footnote-tooltip {
  border: 1px solid var(--primary-medium);
}

#footnote-tooltip #arrow:before {
  border-top: 1px solid var(--primary-medium);
  border-left: 1px solid var(--primary-medium);
}

#footnote-tooltip[data-popper-placement^=bottom]>#arrow {
  top: -6px !important;
}






details > summary:first-of-type {
    padding: 5px;
}

details[open]>summary:first-of-type ~ *,
details.open>summary:first-of-type ~ * {
    margin: 20px;
}


details[open] > summary:first-of-type iframe {
    margin: 20px;
}


details button.iframe-expand-btn {
    top: 10px;
    right: 30px;
}






#footnote-tooltip {
    height:auto;
    max-height: 50%;
    overflow: auto;
    z-index: 1000;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
    background-color: #F5F2EF;
    color: var(--primary);
    padding: 0;
    outline: 1em solid #f5f2ef;
    outline-offset: -1em;
    border-radius:4px;
        max-width: 350px;
}

#footnote-tooltip .footnote-tooltip-content {
    padding: 1em;
}

#footnote-tooltip .footnote-tooltip-content p {
    margin: 0;
}

div#footnote-tooltip div#arrow,
div#footnote-tooltip div#arrow::before {
    display:none;
}

div.footnote-tooltip-content iframe {
    height: calc(50vh - 2em);
    width: 360px;
    border: none;
    margin-bottom: -5px;
    /* comment out the 6 lines below for non-scaled iFrames */
    
    margin-bottom: -605px;
    width: 1300px;
    height: 800px;
    -webkit-transform: scale(0.25);
    -webkit-transform-origin: 0 0;
    max-width: unset;

}

div.cooked iframe.pdf-preview {
    height: 600px;
}






div.cooked iframe {
  /*  height:450px; */
    height:340px;
    width:100%;
    border:0 none;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
    background: #00000026;
  /*  border: 5px solid yellow;
    box-sizing: border-box;
  */
   /* margin: -75px 0 -10px 0 !important; */
}





.iframe-expand-btn {
    padding: 5px;
    top: 20px;
    right: -7px;
    background-color: #fff !important;
    border-radius: 25px !important;
}

button.btn.btn-default.iframe-expand-btn.no-text:hover,
button.btn.btn-default.iframe-expand-btn.no-text:active {
    background-color: #fff !important;
    background-image: none;
    border-bottom-color: var(--primary-low);
    translate: 5px -5px;
}

.iframe-expand-icon {
    fill: #009a49 !important;
    height: 1.5rem !important;
    width: 1.5rem !important;
}



div.footnote-tooltip-content .iframe-expand-btn {
    position: absolute;
    padding: 5px;
    top: 7px;
    right: 8px;
}

div.footnote-tooltip-content button.btn.btn-default.iframe-expand-btn.no-text:hover,
div.footnote-tooltip-content button.btn.btn-default.iframe-expand-btn.no-text:active {
    translate: 4px -4px;
}

div.footnote-tooltip-content .iframe-expand-icon {
    fill: #009a49 !important;
    height: 1.2rem !important;
    width: 1.2rem !important;
}







/* Scrollable Content Box Shadow */
.scrollable-content {
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary) !important;
    padding: 1em 0.5em 1em 1em !important;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

.scrollable-content-inner {
    padding-right: 15px !important;
}

.scrollable-content-inner h1,
.scrollable-content-inner h2,
.scrollable-content-inner h3,
.scrollable-content-inner h4,
.scrollable-content-inner h5,
.scrollable-content-inner h6 {
    margin-top: 0 !important;
    margin-bottom: 0.5rem !important;
}

/* Box-Shadow Divs */
div[data-theme-boxed] {
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-95] {
    width: 95%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-90] {
    width: 90%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-85] {
    width: 85%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-80] {
    width: 80%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-75] {
    width: 75%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-70] {
    width: 70%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-66] {
    width: 66.666%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-65] {
    width: 65%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-60] {
    width: 60%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-55] {
    width: 55%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-50] {
    width: 50%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-45] {
    width: 45%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-40] {
    width: 40%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-35] {
    width: 35%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-33] {
    width: 33.333%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-30] {
    width: 30%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-25] {
    width: 25%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-20] {
    width: 20%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-15] {
    width: 15%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-10] {
    width: 10%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

div[data-theme-boxed-5] {
    width: 5%;
    margin: 0 10px 10px;
    border-left: 0;
    background-color: var(--secondary);
    padding: 1em;
    box-shadow: 0 1.36px 8.896px #c4b59d, 0 0 1px !important;
    border-radius: 4px;
}

/* Composer Help Button Plugin */
#composer-help-modal .composer-help-content {
    padding-right: 15px;
}

div.composer-help-content img {
    max-width: 100%;
}


/* Discourse Lazy Videos */
.lazy-video-container {
    padding: 0;
    display: inline;
}
